html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    --very-light-gray: #FAFAFA;
    --very-dark-blue-light-mode-text: #111517;
    --white: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--very-light-gray);
    color: var(--very-dark-blue-light-mode-text);
}

h1 {
    font-weight: 800;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.navbar {
    background-color: var(--white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dark-mode {
    background: var(--white);
    color: var(--very-dark-blue-light-mode-text);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.btn-dark-mode:hover {
    opacity: .4;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-2 {
    margin: 2rem auto;
}

.form {
    background-color: var(--white);
    width: 50%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form i {
    opacity: .5;
}

.form input {
    background: var(--white);
    color: var(--very-dark-blue-light-mode-text);
    width: 90%;
    border: none;
    outline: none;
    margin-left: .7rem;
    font-weight: 300;
}

.grid-css {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.card {
    background: var(--white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    border-radius: .5rem;
}

.img-fluid {
    width: 100%;
}

.card img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card-body {
    padding: 0 2rem 1.5rem 2rem;
}

.card-body p {
    line-height: 50%;
}

@media(max-width: 992px) {
    .grid-css {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media(max-width: 768px) {
    .grid-css {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(max-width: 576px) {
    .navbar-flex {
        font-size: .8rem;
    }

    .form {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .form input {
        width: 80%;
    }

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .grid-css {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}